body {
  background-color: #333;
  color: #fff;
}

.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.user-container {
  display: flex;
  gap: 2rem;
}

.user-img {
  border: 0.5px solid #131212;
}

.user-post {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
  border: 0.5px solid #131212;
  padding-inline: 0.5rem;
  padding-top: 0.5rem;
}

.username {
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}

.username:hover {
  color: rgb(0, 85, 128);
}

.user-posts {
  align-self: flex-end;
}

.bio-container {
  border: 0.5px solid #131212;
  padding-left: 0.5rem;
}

.bio {
  margin: 0;
}
